@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1, h2 {
    text-align: center;
    background-color: #28c101;
    font-weight: 300;
}

body {
    color: white;
    background-color: #28c101;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
}

.right {
    float: right;
}

/* Top */
.top {
    height: 250px;
    background-color: #28c101;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.budget-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.budget-value {
    font-size: 36px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 500;
}

.budget-income,
.budget-expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget-income {
    margin-bottom: 10px;
}

.budget-income-text,
.budget-expenses-text {
    float: left;
    margin-top: 2px;
}

.budget-income-value,
.budget-expenses-value {
    float: left;
}

.budget-income-percentage,
.budget-expenses-percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget-expenses-percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}

/* Bottom */
.add {
    text-align: center;
}

.add-btn {
    font-size: 35px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.container {
    width: 1000px;
    margin: 60px auto;
}

.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}

.expenses {
    float: left;
    width: 475px;
}

.item {
    padding: 13px;
    border-bottom: 2px solid white;
}

.item-description {
    float: left;
}

.item-value {
    float: left;
}

.item-delete {
    float: left;
}

.item-delete-btn {
    margin-left: 5px;
}